main {
  max-width: 200px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

article {
  display: grid;
  grid-template-areas:
    "kij kij"
    "szam muv";
  grid-template-columns: 2fr 1fr;
  grid-gap: 5px;
}

.kijelzo {
  grid-area: kij;
  border: 1px solid gray;
  border-radius: 8px;
  height: 30px;
  text-align: left;
  font-weight: bold;
  padding: 5px;
}

.szamok {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 5px;
}

.szamok button {
  width: 40px;
  height: 40px;
  font-size: 1.2em;
  cursor: pointer;
}

button[data-id="9"] {
  grid-column: 2;
  grid-row: 4;  
}


.szamok button {
  width: 40px;
  height: 40px;
  font-size: 1.2em;
  cursor: pointer;
}

.muvjelek {
  grid-area: muv;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.muvjelek button {
  width: 40px;
  height: 40px;
  font-size: 1.2em;
  cursor: pointer;
}
